.navbar {
    display: flex;
    align-items: center;

    margin: 0 auto;

    border-bottom: 1px solid #f2f2f2;

    max-width: 600px;

    padding: 20px;

    &__heading {
        color: #f1356d;
    }

    &__links {
        margin-left: auto;
    }

    &__link {
        margin-left: 16px;
        text-decoration: none;
        padding: 6px;

        &:hover {
            color: #f1356d;
        }
    }

    .content {
        margin: 40px auto;

        max-width: 600px;

        padding: 20px;
    }
}