.input-container {
    &__label {
        display: block;

        text-align: left;
    }

    &__input {
        box-sizing: border-box;

        display: block;

        margin: 10px 0;

        border: 1px solid #ddd;

        padding: 6px 10px;

        width: 100%;
    }
}