.create-blog {
    margin: 0 auto;

    max-width: 400px;

    text-align: center;

    &__heading {
        margin-bottom: 30px;
        
        font-size: 20px;
        color: #f1356d;
    }

    &__label {
        display: block;

        text-align: left;
    }

    &__input {
        box-sizing: border-box;

        display: block;

        margin: 10px 0;

        border: 1px solid #ddd;

        padding: 6px 10px;

        width: 100%;
    }
}